{% extends 'base/base.html' %}

{% block title %}license|legalzard{% endblock %}

{% block main %}
<div class="pagetitle">
  <h1>Licenses</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'legalzard_admin_temp:dashboard'  %}">Home</a></li>
      <li class="breadcrumb-item active">Licenses</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">  

      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <a href="{% url 'legalzard_admin_temp:license_add'  %}"  id="btn-add-new" style="margin-top: 10px;  margin-bottom:10px; float:right" class="btn btn-primary">Add New</a>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">License name</th>
                  <th scope="col">Version</th>
                  <th scope="col">Image</th>
                  <th scope="col" style="width: 10px;">Action</th>
                </tr>
              </thead>
              <tbody id="table-body">

              </tbody>
            </table>


            <!-- End Table with stripped rows -->
              <!-- Center aligned spinner -->
              <div class="d-flex justify-content-center">
                <div id="table-spinner" style="display: block;" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            <!-- End Center aligned spinner -->



          </div>
        </div>


      </div>


      <!--BEGIN delete  modal-->
      <div class="modal fade" id="delete-license-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm delete</h5>
              <button type="button" id="delete-license-modal-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              You are sure you want to delete seleted license (<span id="delete-license-name"></span>).
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" id="confirm-delete" class="btn btn-primary">Delete</button>
            </div>

            <p style="color: red;" id="delete-license-error-notify"></p>
          </div>
        </div>
      </div><!--END delete modal-->



    </div>
  </section>



{% endblock %}

{% block js %}
<script src="/static/assets/js/licenses.js"></script>
<script>




</script>


{% endblock %}