{% extends 'base/base.html' %}

{% block title %} license|legalzard{% endblock %}

{% block main %}
<div class="pagetitle">
  <h1 id="license-action-type" data-action-type="{{action_type}}">{{action_type}} License</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'legalzard_admin_temp:dashboard'  %}">Home</a></li>
      <li class="breadcrumb-item active">Licenses</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<style>

  .other-info {
    margin-bottom: 15px;
  }
</style>

<section class="section">
    <div class="row">  

      <div class="col-lg-8">

       <form id="license-form" action="">

        <div class="col-lg-8">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Upload license image <span style="color: red;">*</span></h5>

              <div class="row mb-3">
                <div class="col-sm-12">
                  <input class="form-control" type="file" id="license-image" accept="image/png, image/gif, image/jpeg, image/jeg" >
                </div>
              </div>

              <!--BEGIN image display-->
              <div style="display: none;" id="license-image-view-container"><img id="license-image-view" src="#" height="100px" /></div>
           

              <div id="processing-image" style="display: none;">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="visually-hidden">Proccessing image...</span> Proccessing image...
              </div>
              <!--END image display-->


            </div>

            </div>
          </div>

        </div>


        <div class="col-lg-12">

          <div style="height: 450px;" class="card">
            <div   class="card-body">
              <h5 class="card-title">Description <span style="color: red;">*</span></h5>

              <!-- Quill Editor Default -->
              <div style="height:70%;" class="quill-editor-default">



              </div>
              <!-- End Quill Editor Default -->
              <p id="description-error" style="color: red; display: none;">Description required</p>
            </div>
          </div>




        </div>

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Short description</h5>


              <div class="col-md-12">
                <textarea class="form-control" id="short-description" rows="4"></textarea>
              </div>

            </div>
          </div>

        </div>




        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Other Information</h5>


                <div  class="col-12 other-info">
                  <label for="license-name" class="form-label">License name <span style="color: red;">*</span></label>
                  <input type="text" class="form-control" id="license-name">
                  <p id="license-name-error" style="color: red; display: none;">License name required</p>
                </div>

                <div class="col-12 other-info">
                  <label for="version" class="form-label">Version <span style="color: red;">*</span></label>
                  <input type="email" class="form-control" id="version">
                  <p id="version-error" style="color: red; display: none;">License version required</p>
                </div>

                <div class="col-12 other-info">
                  <label for="type-of-license" class="form-label">Type of license <span style="color: red;">*</span></label>
                  <select required id="type-of-license" class="form-select">
                    <option value="0" selected disabled>--please choose--</option>
                  </select>
                  <p id="type-of-license-error" style="color: red; display: none;">Type of license required</p>
                </div>

                <div class="col-12 other-info">
                  <label for="inputAddress" class="form-label">License url <span style="color: red;">*</span></label>
                  <input type="text" class="form-control" id="inputAddress">
                  <p id="license-url-error" style="color: red; display: none;">License url required</p>
                </div>



                <div class="col-md-12 other-info">
                  <label for="disclaimer" class="form-label">Disclaimer</label>
                  <textarea class="form-control" id="disclaimer" rows="4"></textarea>
                </div>



                <div class="col-md-12 other-info">
                  <label for="risk-for-choosing-license" class="form-label">Risk for choosing license</label>
                  <textarea class="form-control" id="risk-for-choosing-license" rows="4"></textarea>
                </div>




                <div class="col-md-12 other-info">
                  <label for="limitation-of-liability" class="form-label">Limitation of liability</label>
                  <textarea class="form-control" id="limitation-of-liability" rows="4"></textarea>
                </div>



            </div>
          </div>


        </div>


        <div class="col-lg-12">

          <div class="card">
            <div   class="card-body">
              <h5 class="card-title">License attributes</h5>

              <div  class="col-12 other-info">
                <label for="license-attribute-heading" class="form-label">Attribute Heading <span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="license-attribute-heading">
                <p id="license-attribute-heading-error" style="color: red; display: none;">Attribute Heading required</p>
              </div>


              <div class="col-12 other-info">
                <label for="type-of-license" class="form-label">Attributes <span style="color: red;">*</span></label>
                <select required id="license-attribute" class="form-select">
                  <option value="0" selected disabled>--please choose--</option>
                </select>
                <p id="license-attribute-error" style="color: red; display: none;">Attributes required</p>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-12">

          <div class="card">
            <div   class="card-body">
              <h5 class="card-title">License compatible with <span style="color: red;">*</span></h5>

              <div class="col-12 other-info">
                <select required id="License-compatible-with" class="form-select">
                  <option value="0" selected disabled>--please choose--</option>
                </select>
                <p id="License-compatible-with-error" style="color: red; display: none;">License compatible with required</p>
              </div>

            </div>
          </div>
        </div>


        <div class="col-lg-12">

          <div class="card">
            <div   class="card-body">
              <h5 class="card-title">License not compatible with <span style="color: red;">*</span></h5>

              <div class="col-12 other-info">
                <select required id="License-not-compatible-with" class="form-select">
                  <option value="0" selected disabled>--please choose--</option>
                </select>
                <p id="License-not-compatible-with-error" style="color: red; display: none;">License not compatible with required</p>
              </div>

            </div>
          </div>
        </div>

        <div>
          <button style="float: right;" id="btn-save-license" type="button" class="btn btn-primary">Save</button>
          <button style="float: right; margin-right: 5px;" type="button" class="btn btn-secondary">Cancel</button>
        </div>

      </form>

      </div>


    </div>
  </section>



{% endblock %}

{% block js %}
<script src="/static/assets/js/licenses.js"></script>
<script>




</script>


{% endblock %}