<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>{{software_document_identification}}</title>

    <style type="text/css">
        body {
            font-weight: 200;
            font-size: 12px;
            padding-top: 0px;
            margin-top: 0px;
        }
        .header {
            font-size: 18px;
            font-weight: 100;
            text-align: center;
            color: #000;
        }

        .invoice_number {
            font-size: 13px;
            font-weight: 80;
            padding: 10px 20px 0px 20px;
        }

        .title {
            font-size: 22px;
            font-weight: 100;
            padding: 10px 20px 0px 20px;
        }

        .title span {
            color: #007cae;
        }

        .details-bill-to {
            padding: 10px 10px 0px 0px;
            text-align: left !important;
        }

        .details-ship-to {
            padding: 10px 10px 0px 0px;
            text-align: right !important;
        }


        .tnc {
            padding: 4px 20px 0px 0px;
            text-align: left !important;
            margin-top:10px;
            font-size: 10px;
        }

        .letterhead {
            padding: 0px 6px 0px 0px;
            text-align: right !important;
            font-size: 13px;
            margin-top:40px;
        }

        .balance-due-detail {
            padding: 0px 6px 0px 0px;
            text-align: right !important;
            font-size: 15px;
        }

        .hrItem {
            border: none;
            height: 1px;
            /* Set the hr color */
            color: #333; /* old IE */
            background-color: #fff; /* Modern Browsers */
        }

        td.container > div {
            width: 100%;
            height: 100%;
            overflow:hidden;
        }

        td.container {
          margin-top: 0px;
          margin-bottom: 0px;
          height:28px;
        }
        th {
          margin-top: 0px;
          margin-bottom: 0px;
          height:28px;
        }


        table { border-collapse:collapse }
        #footer {
            clear: both;
            position: relative;
            height: 40px;
            margin-top: -40px;
        }

        .border {border:solid 1px #808080;}

        .border-head {
            border-bottom:solid 1px #808080;
            border-top:solid 1px #808080;
        }

        .border-top {
            border-top:solid 1px #808080;
        }

        .border-left {
            border-left:solid 1px #808080;
        }

        .border-bottom {
            border-bottom:solid 1px #808080;
        }

        .border-right {
            border-right:solid 1px #808080;
        }

        @page{
            margin: 0px;
            margin-left:25px;
            margin-right:25px;
            margin-top:25px;
        }

    </style>
</head>

<body>


    <header>

        <div>
            <table>
                <tbody>
                    <tr>
                        
                        <td  width="60%">
                            <img height="{{business_information_json.logo_on_invoice_height}}" width="{{business_information_json.logo_on_invoice_width}}"  src="{{business_logo_url}}" />

                        </td>                       
                        <td width="40%">
                          <div  class='letterhead'>
                            <strong style="font-size:25px;">{{job_order_json.document_title}}</strong><br/>
                            {% if business_name_not_empty %}
                             {{business_information_json.business_name}}<br/>
                            {% endif %}

                            {% if office_location_not_empty %}
                             {{business_information_json.office_location}}<br/>
                            {% endif %}
                            {% if business_information_json.addition_office_location_detail %}
                             {{business_information_json.addition_office_location_detail}}<br/>
                            {% endif %}
                            {% if phone_not_empty %}
                             Tel: {{business_information_json.zip_code}}{{business_information_json.fmt_phone}} {% if business_information_json.fmt_phone_2 %},{{business_information_json.zip_code}}{{business_information_json.fmt_phone_2}}{% endif %}<br/>
                            {% endif %}
                            {% if fax_not_empty %}
                             Fax: {{business_information_json.fax}}<br/>
                            {% endif %}
                            {% if email_not_empty %}
                             Email: {{business_information_json.email}}<br/>
                            {% endif %}
                            {% if website_not_empty %}
                             Website: {{business_information_json.website}}<br/>
                            {% endif %}
            
                          </div>

                            
                        </td>

                    </tr>

                </tbody>
            </table>

        </div>

    </header>



    <div style="margin-top: 20px;" class="main-container">

        <table>
            <tbody>
                <tr>
                    <!--CUSTOMER INFO OR BILL TO-->
                    <td  width="60%">

                        <div  class='details-bill-to'>
                            <label style="color:#838383;">Bill To:</label> <br/>
                            {{job_order_json.customer_name}} <br/>
                            Phone:  {{job_order_json.phone}} <br/>
                            {%if job_order_json.attention_name %}
                            Attention:  {{job_order_json.attention_name}} {%if job_order_json.att_phone %} | {{job_order_json.att_phone}} {%endif%} <br/>
                            {%endif%}

                            {% if make_invoice_prepared_by_visible_on_invoice %}
                            {{business_information_json.we_term_prepared_by_as}}:  {{job_order_json.estimate_prepared_by}} <br/> 
                            {% endif %}

                            {% if make_sales_personel_visible_on_invoice %}
                            Sales personnel:  {{job_order_json.assignee_or_sales_personel}} <br/>
                            {% endif %}

                            {{job_order_json.billing_type_for_print_out}} date: {{ job_order_json.quotation_created_datetime }}<br/>
                            {% if make_invoice_due_date_visible_on_invoice %}
                            {% if invoice_due_date_format_id_greater_than_1 %}
                            Due date: {{ job_order_json.invoice_or_quote_due_datetime }}<br/>
                            {% endif %}
                            {% endif %}
                            {{job_order_json.site_name}}

                        </div>   

                    </td>



                    <!--SHIPPING ADDRESS-->
                    <td  width="40%">
                        {% if show_shipping_address %}
                        <div  class='details-ship-to'>
                            <label style="color:#838383;">Ship To:</label> <br/>
                            {{job_order_json.shipping_attention_to}}<br/>
                            {%if job_order_json.shipping_attention_to_phone %}{{job_order_json.shipping_attention_to_phone}}<br/>{%endif%}
                            {%if job_order_json.shipping_address_1 %}{{job_order_json.shipping_address_1}}<br/>{%endif%}
                            {%if job_order_json.shipping_address_2 %}{{job_order_json.shipping_address_2}}<br/>{%endif%}
                            {%if job_order_json.shipping_city_or_town %}{{job_order_json.shipping_city_or_town}},{%endif%}
                            {%if job_order_json.shipping_state_or_province %}{{job_order_json.shipping_state_or_province}},{%endif%}
                            {%if job_order_json.shipping_zip_or_postal_code %}{{job_order_json.shipping_zip_or_postal_code}}{%endif%}
                            <br/>
                            {%if job_order_json.shipping_country %}{{job_order_json.shipping_country}}<br/>{%endif%}

                        </div>
                        {%endif%}

                        <div  class='details-ship-to'>
                            {%if total_meter_run %}Total Mass: {{total_meter_run}} kg<br/>{%endif%}
                            {%if roof_pitch_in_degree %}Roof Pitch: {{roof_pitch_in_degree}} deg<br/>{%endif%}
                            {%if roof_area_in_sqm %}Roof Area: {{roof_area_in_sqm}} sqm<br/>{%endif%}
                            {%if floor_area_in_sqm %}Floor Area: {{floor_area_in_sqm}} sqm<br/>{%endif%}
                            {%if trusses_centres_in_m %}Max Truss Centres: {{trusses_centres_in_m}} mm<br/>{%endif%}
                            {%if purlin_centres_in_m %}Max Purlin Centres: {{purlin_centres_in_m}} mm<br/>{%endif%}
                            {%if trusses_overhang_in_m %}Max Truss Overhang: {{trusses_overhang_in_m}} mm{%endif%}
                        </div>                        

                    </td>

                </tr>
            </tbody>
        </table>


        <div style="margin-top: 6px;margin-bottom: 6px;" class='wrapper'>

            <table>
                <tbody>
                    <tr>
                        
                        <td>
                            <div class='header'>
                               <p style="text-align: left; padding: 10px 20px 0px 0px;" class='invoice_number'><strong>{{job_order_json.billing_type_for_print_out}} #:</strong> {{job_order_json.invoice_number}}</p>
                            </div>

                        </td>                       
                        <td>
                            
                            <div class='header'>
                               <p style="text-align: right; padding: 10px 0px 0px 20px;" class='invoice_number'><strong>{{job_order_json.material_gauge_and_description}}</strong></p>
                                
                            </div>
                            
                        </td>

                    </tr>

                </tbody>
            </table> 
        <div>




        <div class='quotation-details'>

          <table  style="font-size:12px; padding-top:5px ; " width="700" border="0" class="" >
              <thead>
                <tr>
                 
          
                    <th class="border-head border-left border-right container" style="text-align: left;padding-left:5px;width: 330;font-size:12px;">Item Description</th>
                    <th class="border-head border-right container" style="text-align: center; width: 65;font-size:12px;">Unit</th>
                    <th class="border-head border-right container" style="text-align: center; width: 75;font-size:12px;">Quantity</th>
                    <th class="border-head border-right container" style="text-align: right;padding-right:10px; width: 110;font-size:12px;">Price</th>
                    <th class="border-head border-right container" style="text-align: right;padding-right:5px;width: 130;font-size:12px;">Amount</th>

                </tr>
             </thead>
             <tbody >
                 
               {% for detail in panel_detail_list %}

                 <tr height="20px">
                     
                     <td class="border-left border-right container" style="text-align: left;width: 330;padding-left:5px;vertical-align: center;font-size:11px;">
                        <div>
                            {{detail.item_description}}
                        </div>

                     </td>

                     <td class="border-right container" style="text-align: center;width: 65;vertical-align: center;font-size:11px;">{{detail.unit}}</td>
                     <td class="border-right container" style="text-align: center;width: 75;vertical-align: center;font-size:12px;">{{detail.qty}}</td>
                     <td class="border-right container" style="text-align: right;padding-right:10px;width: 110;vertical-align: center;font-size:12px;">{{detail.rate}}</td>
                     <td class="border-right container" style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{detail.amount}}</td>



                 </tr>
               {% endfor %}



             </tbody>
            
             <tbody>

            
                <tr>
                     
                     <td class="border-top" colspan="4" style="text-align: right;vertical-align: center;padding-right:10px;font-size:12px;">Subtotal</td>
                     <td class="border-top border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{sub_total_amount}}</td>

                 </tr>

                {%if include_labour %}
                <tr>
                     <td colspan="4" style="text-align: right; vertical-align: center;padding-right:10px;font-size:12px;">{{labour_description}}</td>
                     <td class="container border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{labour_amount}}</td>
                 </tr>
                {%endif%}

                {%if include_discount %}
                <tr>
                     
                     
                     <td colspan="4" style="text-align: right; vertical-align: center;padding-right:10px;font-size:12px;">{{discount_description}}</td>
                     <td class="container border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">-{{discount_amount}}</td>

                 </tr>
                {%endif%}


                
                {% for tax_display_name, tax_amount in tax_or_vat_amount_dict.items %}
                <tr>
                     
                     
                     <td colspan="4" style="text-align: right; vertical-align: center;padding-right:10px;font-size:12px;">{{tax_display_name}}</td>
                     <td class="border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{tax_amount}}</td>

                 </tr>
                 {% endfor %}



                {%if include_shipping %}
                <tr>
                     
                    
                     <td colspan="4" style="text-align: right; vertical-align: center;padding-right:10px;font-size:12px;">{{shipping_description}}</td>
                     <td class="border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{shipping_amount}}</td>

                 </tr>
                <tr>
                     
                     
                     <td colspan="4" style="text-align: right; vertical-align: center;padding-right:10px;font-size:12px;">{{tax_on_shipping_description}}</td>
                     <td class="border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{tax_on_shipping_amount}}</td>

                 </tr>
                {%endif%}

                {%if include_custom_duty %}
                <tr>
                     
                    
                     <td colspan="4" style="text-align: right; vertical-align: center;padding-right:10px;font-size:12px;">{{custom_duty_description}}</td>
                     <td class="border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{custom_duty_amount}}</td>

                 </tr>
                {%endif%}

                {%if apply_tax_on_transportation %}
                {%else%}
                {%if include_transportation %}
                 <tr>
                    
                     <td colspan="4" style="text-align: right; vertical-align: center;padding-right:10px;font-size:12px;">{{transport.item_description}}</td>
                     <td class="border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{transport.amount}}</td>

                  </tr>
                {%endif%}
                {%endif%}

                <tr>
                     
                     <td colspan="4" style="text-align: right;vertical-align: center;padding-right:10px;font-size:12px;"><strong>Total</strong></td>
                     <td class="border-bottom border-top border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;"><strong>{{total_incl_vat_amount}}{{currency.iso_code_used}}</strong></td>

                 </tr>

                 {%if invoice_paid_as_sales %}
                  <tr>
                    <td colspan="4" style="text-align: right; vertical-align: center;padding-right:10px;font-size:12px;">Amount Paid</td>
                     <td class="border-bottom border-left border-right"  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{invoice_amount_paid}}{{currency.iso_code_used}}</td>
                  </tr>
                {%endif%}
            
             </tbody>

          </table>

          {%if has_optional_item%}
          <table  style="font-size: 14px; padding-top:5px ; " width="700" border="0" class="" >
              <thead>
                <tr>
                 
          
                    <th class="container border-bottom" style="text-align: left;padding-left:5px;width: 700;font-size:12px;">OPTIONAL ITEMS & SERVICES</th>
                    <th class="container border-bottom" style="text-align: center; width: 65;font-size:12px;"></th>
                    <th class="container border-bottom" style="text-align: center; width: 75;font-size:12px;"></th>
                    <th class="container border-bottom" style="text-align: right;padding-right:10px; width: 110;font-size:12px;"></th>
                    <th class="container border-bottom" style="text-align: right;padding-right:5px;width: 130;font-size:12px;"></th>

                </tr>
             </thead>
             <tbody >
                 
               {% for detail in optional_item_detail_list %}

                 <tr>
                     
                     <td class="border-left container" style="text-align: left;width: 330;padding-left:5px;vertical-align: center;font-size:11px;">
                        <div>
                            {{detail.item_description}}
                        </div>

                     </td>
                     <td colspan="2" class="container" style="text-align: center;width: 140;vertical-align: center;font-size:12px;">{{detail.qty}}/{{detail.unit}}</td>
                     <td class="container" style="text-align: right;padding-right:10px;width: 110;vertical-align: center;font-size:12px;">{{detail.rate}}</td>
                     <td class="container border-right" style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;">{{detail.amount}}{{currency.iso_code_used}}</td>



                 </tr>
               {% endfor %}

                 <tr>
                     <td colspan="5" class="container border-bottom border-right border-left" style="text-align: center;width: 65;vertical-align: center;font-size:11px;"></td>
                 </tr>


             </tbody>
          

          </table>



          <!--Grand Total-->
          <table  style="font-size: 15px; padding-top:5px ; " width="700" border="0" class="" >
              <thead>
                <tr>
                    <th class="container" style="text-align: left;padding-left:5px;width: 570;font-size:12px;"></th>
                    <th class="container" style="text-align: left;padding-left:5px;width: 130;font-size:12px;"></th>
                </tr>
             </thead>
             <tbody >
                 <tr>
                     <td style="text-align: right;vertical-align: center;padding-right:10px;font-size:12px;"><strong>Grand Total</strong></td>
                     <td class=""  style="text-align: right;padding-right:5px;width: 130;vertical-align: center;font-size:12px;"><strong>{{total_incl_vat_amount_plus_optional_amount}}{{currency.iso_code_used}}</strong></td>
                </tr>
             </tbody>
          </table>
          <!--End ofGrand Total-->

          
          {%endif%}
        <div  class='tnc'>
          <br/>
          <br/>

            {% if make_terms_and_condition_visible_on_invoice %}
             <strong>{{business_information_json.terms_and_condition_header}}</strong> <br/>
             {% for terms in terms_and_condition_list %}
             {{terms}}<br/>
             {% endfor %}
            {% endif %}

            {% if show_service_specific_warranty_on_invoice %}
             <br/><strong>{{service_category.service_specific_warranty}}</strong> <br/>
            {% endif %}


            {% if make_bank_detail_visible_on_invoice %}
             <br/><strong>{{business_information_json.payment_method_detail_header}}:</strong><br/>
             {% for payment_method in payment_method_detail_list %}
             {{payment_method}}<br/>
             {% endfor %}
            {% endif %} 


            {% if enable_signature_on_quote_or_invoice %}
             <br/>Signature:_______________________________________<br/>
            {% endif %} 


            {% if business_information_json.thank_you_for_business_memo %}
             <br/><br/>{{business_information_json.thank_you_for_business_memo}}<br/>
            {% endif %} 
           
            
            
        </div>






        </div>

</div>





    </body>
</html>