{% extends 'base/base.html' %}

{% block title %}Legalzard Temporary Admin{% endblock %}

{% block main %}
<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'legalzard_admin_temp:dashboard'  %}">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-12">
      <div class="row">

        <!-- Licenses Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">

            <div class="card-body">
              <h5 class="card-title">Licenses</h5>

              <div style="display: none;" id="licenses-count-container" class="">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-box-seam"></i>
                </div>
                <div class="ps-3">
                  <h6 id="licenses-count">{{licenses_count}}</h6>
                </div>
              </div>

              <!-- End Table with stripped rows -->
                <!-- Center aligned spinner -->
                <div class="d-flex justify-content-center">
                  <div id="licenses-count-spinner" style="display: block;" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              <!-- End Center aligned spinner -->


            </div>

          </div>
        </div><!-- End Licenses Card -->

        <!-- Comparisons Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">


            <div class="card-body">
              <h5 class="card-title">Comparisons</h5>

              <div style="display: none;" id="comparison-count-container" class="">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-arrows-angle-contract"></i>
                </div>
                <div class="ps-3">
                  <h6 id="comparison-count">{{comparison_count}}</h6>

                </div>
              </div>

              <!-- End Table with stripped rows -->
                <!-- Center aligned spinner -->
                <div class="d-flex justify-content-center">
                  <div id="license-comparison-spinner" style="display: block;" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              <!-- End Center aligned spinner -->

            </div>




          </div>
        </div><!-- End Comparisons Card -->


      </div>
    </div><!-- End Left side columns -->

  </div>
</section>

{% endblock %}


{% block js %}
<script src="/static/assets/js/dashboard.js"></script>
<script>




</script>


{% endblock %}